body {
    background-color: #1d1d1d;
}

a {
    color: white;
    background-color: #1d1d1d;
}

.navbar {
    border: 0px;
    background-color: #1d1d1d;
}

.navbar-brand {
    text-decoration: none;
}

.dropdown {
    background-color: #1d1d1d;
    margin-top: 20px;
    color:white;
    font-size: 15px;
}
.dropdown-toggle{
    color: white;
}

.dropdown-menu {
    color: white;
    background-color: #1d1d1d;
}

td {
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
}

button {
    font-size: 10pt;
}

canvas {
    max-width: 553px;
}

#placeholder {
    padding: 0px;
    max-width: 553px;
}

#placeholder2 {
    padding: 0px;
    max-width: 553px;
}

#battery {
    border: 1px solid black;
    width: 500px;
    height: 20px;
    text-align: center;
}